<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="worlds grid cs-style-1">
      <% @worlds.each do |world| %>
        <li>
          <figure>
            <%= image_tag("#{world.name.downcase}.png") %>
            <figcaption>
                <h3><%= world.name.upcase %> World</h3>
                <%= link_to 'Explore', world %>
            </figcaption>
          </figure>
        </li>
      <% end %>
    </ul>
  </div>
</div>
