<div class="row inside-world">
  <div>
    <% (1..18).each do |place_id| %>
      <%- if @house=find_place(@houses, place_id) %>
        <div class="place">
          <%= image_tag("house_1.png", :class => "place-img") %>
          <%= link_to @house.title, @house %>
        </div>
      <% else %>
          <div class="place">
            <img src="" alt="">
            <span class="label label-success">
              <%= link_to 'Create', new_house_path(:place_id => place_id, :world_id => @world.id), style: "color: #fff;" %>
            </span>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
