<header class="show-house">
  <h2> <%= @house.title %> </h2>

  <%- if @house.user_id == current_user.id %>
    <br>
    <a href="/rooms/new?house_id=<%= @house.id %>">
      <button class="create-room">Create New Room</button>
    </a>
  <% end %>
</header>

<div class="row">
  <div class="col-md-12">
    <%= raw @room_html_code %>
  </div>
</div>
