<h1>Select a badge</h1>

<p>
  Teacher badge - will give you ability to create your own rooms(tutorials) and quizes for tutorials.
  Each time some student passes your quiz successfully, it means you are good teacher and you got + points.<br/>
  <a href="/badges/new?badge_id=2">Get Teacher badge</a>
</p>

<p>
  Doctor badge - will give you ability to create questions for store items. If user wants free item, he must answer one of the questions, that is added by doctor. Doctor has + points each time he creates new question.<br>
  <a href="/badges/new?badge_id=3">Get Doctor badge</a>
</p>

<p>
  Entrepreneur badge - will give you ability to create buildings: houses and stores. If house is created, every time the student passes quiz, enterpreneur has + points for it. If store is created, enterpreneur has + points every time user buys some product from his store.<br>
  <a href="/badges/new?badge_id=4">Get Entrepreneur badge</a>
</p>