<div class="row">
  <div class="col-md-6">
    <a href="/houses/new?place_id=<%= @place_id %>&world_id=<%= @world_id %>">
      Create New Room
    </a>
  </div>
  <div class="col-md-6">
    <a href="/stores/new?place_id=<%= @place_id %>&world_id=<%= @world_id %>&type=1">
      Create New Health Store
    </a>
  </div>
</div>