a {
  text-decoration: none;
  cursor: pointer;
}

.place {
  width: 200px;
  height: 200px;
  background: rgb(203, 250, 203);
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  vertical-align: top;
}

.place-img {
  max-width:50px;
}

.user-info-container {
  margin-top: 15px;
  width: 300px;
}

.points-container {
  margin-top: 15px;
  width: 100px;
}

.inline-block {
  display: inline-block;
}
